<%= form_with(model: analytic) do |form| %>
  <% if analytic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(analytic.errors.count, "error") %> prohibited this analytic from being saved:</h2>

      <ul>
        <% analytic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :event, style: "display: block" %>
    <%= form.text_field :event %>
  </div>

  <div>
    <%= form.label :valid, style: "display: block" %>
    <%= form.check_box :valid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
